.app-header {
    background-color: #0d1117;
    padding: 20px 0;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .app-header .container {
    /* max-width: 1200px;
    margin: 0 auto; */
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* .nav-links a {
    margin-left: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
  } */
  
  /* .nav-links a:hover {
    color: #58a6ff;
  } */
  .header-list a {
    color: #000;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
.header-list a:hover{
  color: #58a6ff;
}
.header-list .nav-link.active{
  color: #58a6ff;
}

@media (max-width:1399px) {
  .header-list a{font-size: 14px;}
}
@media (max-width:991px) {
  .header-list{position: absolute;top: 48px;width: 90%; background-color: #f7f7f7;left: 50%;transform: translateX(-50%);}
  .header-list a {margin-left: 0; padding: 7px 15px;font-size: 13px;}
  .navbar-toggler:focus{box-shadow: unset !important;}
}
  