.mars-wrapper {
    padding: 60px 0;
    background: #f3f4f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .mars-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
    color: #2d2d2d;
  }
  
  .mars-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
  }
  
  .mars-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .mars-card:hover {
    transform: translateY(-6px);
  }
  
  .mars-image {
    width: 100%;
    /* height: 550px; */
    object-fit: cover;
    border-bottom: 1px solid #eaeaea;
  }
  
  .mars-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .mars-caption {
    font-size: 17px;
    font-weight: 600;
    color: #1d1d1d;
  }
  
  .mars-meta {
    font-size: 14px;
    color: #444;
  }
  .mars-card-img {
    width: 100%;
    height: 320px;
}
  .mars-card-img img {
    width: 100%;
    height: 100%;
}
  
/* responsiveness */

@media (max-width:1399px) {
  .mars-card-img {
    height: 300px;
}  
.mars-title {
  font-size: 30px;
  margin-bottom: 40px;
}
}
@media (max-width:1199px) {
  .mars-card-img {
    height: 200px;
}  
.mars-title {
  font-size: 30px;
}
.mars-caption {
  font-size: 15px;

}

.mars-meta {
  font-size: 12px;
 
}
.mars-wrapper {padding: 50px 0;}
}

@media (max-width:767px) {
  .mars-title {
    font-size: 25px;
    margin-bottom: 30px;
}
.mars-wrapper {padding: 40px 0;}
}